/* app global css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-400 {
    height: 400px;
  }
}

* {
  font-family: inherit;
  font-size: 16px;
  padding: 0;
  margin: 0;
}